*{
    margin:0;
    padding:0;
    background-color: #28282B;
}
.btn{
    height: 50px;
    width: 50px;
    font-size: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid  #f5f0f0 ;
    border-radius: 6px;
    background-color: #3B3B3B;
    color: white;
    cursor: pointer;
}
.main-body{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
.gnrl{
    font-size: 30px ;
    background-color: #3B3B3B;
    color: white;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 20%;
    border: 1px solid rgb(168, 76, 196);
    background-color: #3B3B3B;
    border-radius: 6px;
}